@import url("indexPageStyle.css");

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0.5rem;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -0.5rem -0.5rem 0 -0.5rem;
  padding: 0.5rem 3rem 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  font-size: 50rem;
}

#go-back-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 0rem;
}

#country {
  display: grid;
  grid-template-areas: 
  "flag"
  "country-name"
  "country-details"
  "border-countries";
  justify-content: center;
  justify-items: stretch;
}

#flag {
  grid-area: flag;
}

#country-name {
  grid-area: country-name;
}

#country-details {
  grid-area: country-details;
}

#border {
  grid-area: border-countries;
}

#dark-mode {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#dark-mode-icon {
  margin-right: 0.5rem;
}

#sun-icon {
  display: none;
}

#go-back-btn, .border {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: auto 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: larger;
  outline: 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.border {
  display: inline-block;
  margin: 0.25rem;
}

.dark-body {
  background-color: #202C35;
}

.dark-go-back-section {
  background-color: #202C35;
  margin: -0.5rem;
}

.dark-country {
  background-color: #202C35;
  margin: -0.5rem;
}

.dark-botton {
  background-color: #202C35;  
}

@media screen and (width > 450px) {
  #country {
    display: grid;
    grid-template-areas:
    "flag country-name"
    "flag country-details"
    "flag border-countries";
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
  }
  
}

@media screen and (width > 775px) {
  #flag {
    width: 35vw;
  }  
}

@media screen and (width > 840px) {
  #go-back-section {
    padding-left: 5vw;
  }
}

@media screen and (width > 1030px) {
  #country {
    font-size: larger;
    justify-content: center;
    gap: 0rem;
    justify-content: space-around;
  }
}

@media screen and (width > 1500px) {
  body {
    font-size: 1.3vw;
  }
  button {
    min-height: 3vh;
    min-width: 6vw;
  }
  #go-back-section {
    margin: 1vw auto;
  }
  #crescent-icon, #sun-icon {
    scale: 2;
  }
}